.blackBorder {
    background-color: black;
}
.wholePostPageParent {
    /* border: 3px solid red; */
    /* height: 100%;
    background-color: rgba(169, 169, 169, 0.568); */
    /* overflow-y: scroll; */
    min-height: 100vw;
    /* background-color: rgba(169, 169, 169, 0.568); */
    background-color: rgb(169 169 169 / 83%);
    width: 69rem;
    padding-right: 16rem;
    padding-left: 16rem;
    margin-left: 23rem;
    clear:both;
}
.wholePostPage {
    /* border: 3px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column; */
    
    /* ignore */
    /* height: 100vw;
    margin-top: none;
    padding-top: none; */
    /* ignore */

    /* border: 3px solid blue; */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    width: 814px;
    margin-left: 50rem;
    background-color: white; */

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 814px;
    margin-left: 9rem;
    background-color: white;
    clear: both;
}

.postParent {
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    z-index: 0;
    /* word-wrap: break-word; */
    /* background-color: rgba(169, 169, 169, 0.568); */
}

.post {
    width: 40vw;
    padding: 2rem;
    /* border: 1px solid darkgray; */
    border-radius: 4px;
    /* border: 3px solid blue; */
    z-index: 1;
    background-color: white;
    word-wrap: break-word;
    
    /* new */
    margin: 1rem;
}

/* .post {
    word-wrap: break-word;
}
.subNameAndDesc {
    word-wrap: break-word;
} */

.subAndAuthor {
    display: flex;
    justify-content: row;
}

.postSub {
    font-weight: bold;
    margin-right: 0.5rem;
}

.postAuthor {
    color: gray;
}

.postBody {
    font-size: larger;
    word-wrap: break-word;
}

/* .imageDiv {

} */

.imgTag {
    height: 40rem;
    width: 60rem;
    object-fit: fill;
    max-width: 46.5rem;
}

.editAndDeleteButtons {
    display: flex;
    flex-direction: row;
}

.postEditButton {
    background-color: gray;
    color: white;
    height: 2rem;
    width: 3rem;
}
.postEditButton:hover {
    background-color: rgb(95, 94, 94);
    cursor: pointer;
    box-shadow: 1px 1px 1px darkgray;
}

/* comments */
.commentsSection {
    /* background-color: white; */
    /* margin: none; */
    /* padding: none; */
    /* width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center; */

    margin-left: -34rem;
    /* border: 3px solid pink; */
}
.commentButton {
    margin-left: 5.4rem;
}
.commentInputParent {
    display: flex;
    justify-content: center;
    height: 15rem;
    /* border: 3px solid red; */
}
.commentInput {
    /* width: 30rem;
    border: 3px solid blue; */
    width: 53rem;
    margin-right: 4rem;
}

.comment {
    /* background-color: white; */
    border-left: 2px solid rgb(238, 235, 235);
    margin: 1rem;
    padding: 1rem;
    width: 41vw;
    margin-left: 35.5rem;
    /* background-color: white; */
}
.commentText {
    /* border: 3px solid red; */
    display: flex;
    /* justify-content: center; */
}

.submitButtonParent {
    display: flex;
    justify-content: flex-end;
}

.submitComment {
    color: white;
    background-color: blue;
    margin-right: 4.1rem;
    font-size: large;
    font-weight: bold;
    margin-top: 0.1rem;
    height: 2rem;
    width: 5.5rem;
}
.submitComment:hover {
    cursor: pointer;
    background-color: rgb(8, 8, 194);
}
.submitComment:disabled {
    background-color: lightgray;
    color: gray;
    cursor: auto;
}