.postParent {
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    z-index: 0;
    /* word-wrap: break-word; */
    /* background-color: rgba(169, 169, 169, 0.568); */
}

.post {
    width: 40vw;
    padding: 2rem;
    border: 1px solid darkgray;
    border-radius: 4px;
    /* border: 3px solid blue; */
    z-index: 1;
    background-color: white;
    word-wrap: break-word;
    
    /* new */
    margin: 1rem;
}

/* .post {
    word-wrap: break-word;
}
.subNameAndDesc {
    word-wrap: break-word;
} */

.subAndAuthor {
    display: flex;
    justify-content: row;
}

.postSub {
    font-weight: bold;
    margin-right: 0.5rem;
}

.postAuthor {
    color: gray;
}

.postBody {
    font-size: larger;
    word-wrap: break-word;
}

/* .imageDiv {

} */

.imgTag {
    height: 40rem;
    width: 60rem;
    object-fit: fill;
}

.editAndDeleteButtons {
    display: flex;
    flex-direction: row;
}

.postEditButton {
    background-color: gray;
    color: white;
    height: 2rem;
    width: 3rem;
}
.postEditButton:hover {
    background-color: rgb(95, 94, 94);
    cursor: pointer;
    box-shadow: 1px 1px 1px darkgray;
}

/* comments */
.commentButton {
    margin-left: 5.4rem;
}
.commentInputParent {
    display: flex;
    justify-content: center;
    height: 15rem;
    border: 3px solid red;
}
.commentInput {
    /* width: 30rem;
    border: 3px solid blue; */
    width: 53rem;
    margin-right: 4rem;
}

.comment {
    border: 1px solid gray;
    margin: 1rem;
    padding: 1rem;
}
.commentText {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}