.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


/* added */
.headerElements {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(240, 77, 12); */
  border-bottom: 1px solid darkgray;
  height: 3rem;
  /* margin-bottom: 2rem; */
}
.headerNavLink {
  text-decoration: none;
  color: lightblue;
  font-weight: bolder;
  font-size: xx-large;
  /* border: 3px solid red; */
}

.searchBar {
  height: 2rem;
  width: 60rem;
  border-radius: 2rem;
}

/* proifle menu */
.profile-dropdown {
  background-color: white;
  width: 6rem;
  padding-left: 1rem;
  position: relative;
  z-index: 3;
  /* z-index: 5;
  border: 3px solid red; */
}

.dropdownMenuLogOut {
  background-color: red;
  color: white;
  height: 2rem;
  margin: 0.5rem;
}

.profileButton {
  background-color: gray;
  height: 2rem;
  width: 4rem;
  display: flex;
  margin: 0.5rem;
  justify-content: center;
}


.searchInput {
  z-index: 3;
}

.profileButtonClass {
  background-color: rgb(240, 228, 228);
  width: 3rem;
  border-radius: 10px;
}
.profileButtonClass:hover {
  background-color: rgb(219, 209, 209);
  cursor: pointer;
  box-shadow: 1px 1px 1px darkgray;
}