.wholePage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow-y: hidden;
    z-index: 0;
    background-color: rgba(169, 169, 169, 0.568);
    padding-top: 2rem;
    max-width: 100%;
}

.createSubButton {
    text-decoration: none;
    background-color: white;
    color: blue;
    font-weight: bolder;
    height: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 1rem;
    /* border-color: blue; */
    border: 1px solid blue;
}
.createSubButton:hover {
    cursor: pointer;
    background-color: aliceblue;
}


.headerAndCreateButtonParent {
    margin-right: -10rem;
    margin-left: 3rem;
    /* border: 3px solid red; */
}
.headerAndCreateButton {
    /* margin-right: -10rem; */
    /* margin-left: 3rem; */
    border: 1px solid darkgray;
    /* border: 3px solid red; */
    background-color: white;
    z-index: 1;
    padding: 0.5rem;
    border: 2px solid gray;
}
.homePageText {
    margin: 1rem;
    border-bottom: 1px solid darkgray;
}

.homePagePostParent {
    /* padding-right: 3rem; */
    z-index: 1;
    /* background-color: white; */
}


.homePagePostLink {
    /* border: 3px solid black; */
    border: 1px solid darkgray;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-left: 2rem;
    background-color: white;
    /* max-width: 60%; */
}
.homePagePostLink:hover {
    border: 1px solid black;
}

.author-subcrudit {
    display: flex;
    margin-bottom: 0;
    /* color: black; */
}
.subcruditName {
    margin-right: 0.5rem;
    color: black;
    font-weight: bold;
}
.authorUsername {
    color: gray;
}

.postHeader {
    margin-top: 0;
    color: black;
}

.postBody {
    color: black;
}

.postImageSrc {
    height: 30rem;
    width: 47rem;
    object-fit: fill;
}