/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .buttons {
    display: flex;
    justify-content: center;
}
.detailsButton {
    background-color: aqua;
    height: 2rem;
    border-radius: 8px;
}

.userPostsButton {
    background-color: orange;
    height: 2rem;
    border-radius: 8px;
}

.userSubsButton {
    background-color: blueviolet;
    height: 2rem;
    border-radius: 8px;
    color: aliceblue;
}

.userDetailsParent {
    display: flex;
    justify-content: center;
}
.userDetails {
    display: flex;
    flex-direction: column;
}

.userPostsParent {
    display: flex;
    justify-content: center;
}
.userPostsHeader {
    display: flex;
    justify-content: center;
}

.userPostsHeader h1 {
    border-bottom: 2px solid darkgray;
}

.postAndDelete {
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 1rem;
} */


.userSubsHeaderParent {
    display: flex;
    justify-content: center;
}
.userSubsHeaderParent h1 {
    border-bottom: 2px solid darkgray;
}

.userSubsPropParent {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.userSub {
    border: 1px solid darkgray;
    border-radius: 8px;
    margin: 0.5rem;
}
.userSub:hover {
    cursor: pointer;
    border: 1px solid black;
}